.team {
    background-image: url("/images/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    padding: 3.2rem;
}

.team h3 {
    font-size: clamp(1.75rem, 4.5vw, 2.4rem);
    padding-bottom: .8rem;
    display: inline-block;
    border-bottom: 4px solid;
    text-align: center;
}

.team .colaboradores {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 3.2rem;
}

.inputColor {
    position: absolute;
    top: 2rem;
    right: 5rem;
}

.team_title {
    margin: 3rem auto;
    font-size: clamp(2rem, 3.5vw, 4rem);
    border-bottom: 4px solid #6278F7;
    display: inline-block;
    color: #6278F7;
    padding-bottom: 1rem;
}

@media screen and (max-width:600px) {
    .inputColor {
        width: 35px;
    }
}